<div>
    <h1 class="text-primary my-2">Sistema de actas</h1>
    <hr />
    <p>Aplicación para la gestión de actas de proyectos.</p>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</div>